<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>
<div class="form-wrapper">
    <h1>ユーザ登録完了</h1>
    <div class="form-footer">
        <a href="/">トップに戻る</a>
    </div>
</div>
</body>
</html>
