<html>
<body>
    <h1> 会員登録</h1>
    <form action="/add" method="POST">
    <div>
	ID:<input type="text" name="userid" id="userid"><br>
	password:<input type="password" name="passwd1" id="passwd1"><br>
	password-again:<input type="password" name="passwd2" id="passwd2"><br>
    </div>
    <div>
	<input type="submit" value="送信">
    </div>
    <a href="/">トップへ戻る</a>
</body>
</html>
