<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>
<% include menu %>
<div class="form-wrapper">
    <h1> <%= title %> </h1>
    <a href="/">戻る</a>
</div>
</body>
</html>
