<html>
<head>
    <link rel="stylesheet" text="text/css" href="css/default.css">
    <link rel="stylesheet" text="text/css" href="css/menu.css">
</head>
<body>
<% include menu %>
<div class="form-wrapper">
    <h1>フォロー一覧</h1>
    <div align="center">
	<% var test = result; %>
	<%- test %>
    </div>
    <div class="form-footer">
	<p><a href="/">Back to TOP page</a></p>
    </div>
</div>
</body>
</html>
