<html>
<body>
    <h1>Login Page</h1>
    
    <form action="/login" method="POST">
	<div>
	    <span>ID</span>
	    <span><input type="text" name="userid" id="userid" /></span>
	</div>
	<div>
	    <span>Password</span>
	    <span><input type="password" name="passwd" id="passwd"></span>
	</div>
	<div>
	    <span><input type="submit" value="送信"></span>
	</div>
    </form>
    <script>
    </script>
</body>
</html>
