<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/default.css">
</head>
<body>
<div class="form-wrapper">
    <h1>エラー</h1>
    <div align="center">
        <p><%= error %></p><br>
    </div>
    <div class="form-footer">
        <a href="/">トップへ戻る</a>
    </div>
</div>
</body>
</html>
