<div>
    <ul>
        <li><a href="/">Top</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/search">Search</a></li>
	<li><a href="/follow_list">Follow</a></li>
	<li><a href="/follower_list">Follower</a></li>
    </ul>
</div>
