<html>
<body>
    <h1>マイページ</h1>
    <div>
	<p>ようこそ、<%= userid %> さん</p><br>
	<a href="/profile">プロフィールページ</a><br>
    <div>
    <form action="/logout" method="POST">
	<input type="submit" value="ログアウト">
    </form>
</body>
</html>
