<html>
<body>
    <h1>プロフィール</h1>
    <table border=1>
        <tr>
	    <th>UserName</th><td><%= userid %></td>
	</tr>
	<tr>
	    <th>introduction</th><td><%= intro %></td>
	</tr>
	<tr>
	    <th>birthday</th><td><%= month %>/<%= day %></td>
	</tr>
    </table>
    <a href="/">トップへ戻る</a>
</body>
</html>
