<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>
<% include menu %>
<div class="form-wrapper">
    <h1>退会</h1>
    <div align="center">
        <p>本当に退会しますか？</p>
        <div class="form-footer">
            <a href="/do_restore">はい</a><br>
            <a href="/">いいえ</a>
        </div>
    </div>
</div>
</body>
</html>
