<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/default.css">
</head>
<body>
<div class="form-wrapper">
    <h1>退会完了</h1>
    <div align="center" class="form-footer">
        <a href="/">トップへ戻る</a>
    <div>
</div>
</body>
</html>

