<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div class="form-wrapper">
    <h1>ログアウト完了</h1>
    <div align="center">
    <p>ログアウトしました。</p><br>
    <div class="form-footer">
        <a href="/">トップへ戻る</a>
    </div>
    </div>
</div>
</body>
</html>
